<!DOCTYPE html>
<html>

  <head>
    <title>Water</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Dror Ayalon + Or Fliehser; Edited by Jacqueline Wu">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
  </head>

  <body>

  <!-- <img src="images/background-01.png" style="width: 100px; height: 100px; position: fixed center; z-index: -1; top: 50px; left: 100px"> -->
  <div class = "main">
    <div class="box">
        <div class="count"><input id="qty" value="0" />
        <label for="qty"><abbr title="Quantity">oz</abbr></label></div>

        <div class="count"><input id="cups" value="0" />
        <label for="cups"><abbr title="Quantity">cups</abbr></label></div>

        <div class="count"><input id="ppl" value="0" />
        <label for="ppl"><abbr title="Quantity">people</abbr></label></div>

       <!--  <button id="down" onclick="modify_qty(-1)">-1</button>
        <button id="up" onclick="modify_qty(1)">+1</button> -->
    </div>

    <div class="title">
        INTERNET WATER SUPPLY<br>
        <p>Water is mentioned hundreds of times per minute on social media. Amidst the flood of tweets are drowning cries for help from places that lack access to clean drinking water. Most recently, these include Puerto Rico and Flint, Michigan.</p>
        <p>What if we treated our digital commodities as physical commodities? Could tweets be valued as much as water or time? If we could deliver as little as 1 oz of water for every online call and fulfill someone's daily value of 8 cups per day, the impact would be significant.
      </p>
    </div>

    <div class="container">
      <div class="drop"></div>
      <div class="puddle"></div>
      <div class="sink"></div>
      <div class="ripple"></div>
    </div>
  </div>

    <script src="js/Tone.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/socket.io.min.js"></script>
    <script src="js/sound.js"></script>

  </body>

</html>
